@import url(https://fonts.googleapis.com/css?family=Bangers);

@import url(https://fonts.googleapis.com/css?family=Contrail+One);

@import url(https://fonts.googleapis.com/css?family=Kadwa:400,700);

@import url(https://fonts.googleapis.com/css?family=IM+Fell+English+SC);

@font-face {
	font-family: 'Graffiti';
	src: url('fonts/colors_of_autumn.ttf');
}

$bangers: 'Bangers', cursive;
$graffiti: 'Graffiti', Helvetica, sans-serif;
$contrail: 'Contrail One', cursive;
$kadwa: 'Kadwa', serif;
$fellenglish: 'IM Fell English SC', serif;