body {
    padding: 0;
    margin: 0;
    background-image: url('../img/coast.jpg');
    background-size: cover;
}

#mainbox {
    height: 35%;
    margin-top: 10%;
    background-color: #1F456A;
}

h3 {
    color: white;
    font-family: $fellenglish;
    font-weight: bold;
    font-size: 30px;
    text-align: center;

}

#left {
    height: 70%;
    display: inline-block;
}

#left p{
	text-align: center;
	color: white;
	font-size: 18px;
	width: 90%;
	margin: 15px auto;
}

#left a{
	font-size: 18px;
	padding: 5px 10px;
	text-align: center;
	margin-top: 14px;
	font-family: $kadwa;
	background-color: #aeaeae;
	color: black;
	border-radius: 4px;
}

#right {
    height: 70%;
    display: inline-block;
    float: right;
    border-left: 2px solid black;
    margin-left: 2px solid black;
}

#right p{
	text-align: center;
	font-size: 18px;
	color: white;
	width: 90%;
	margin: 15px auto;
}

#right a{
	font-size: 18px;
	padding: 5px 10px;
	text-align: center;
	margin-top: 14px;
	font-family: $kadwa;
	background-color: #aeaeae;
	color: black;
	border-radius: 4px;
}

